<h1>Sign In</h1>

<form action="/auth/signin" method="POST">

    <div class="form-group">
        <label>email address</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label>pasword</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <br>

    <div>
        <button type="submit" class="btn btn-primary" onclick="validation()">Sign in</button>
    </div>
</form>