<form action="/auth/signin" method="POST">
</br>
    <h1 class="text-center">Sign In</h1>
</br>
    <div class="input-group mb-3">
        <span class="input-group-text side">Email Address</span>
        <div class="form-floating">
            <input name="email" type="email" class="form-control" required id="floatingInputGroup1" placeholder="Email">
            <label for="floatingInputGroup1">Email Address</label>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text side">Password</span>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" required id="floatingInputGroup1"
                    placeholder="Password">
                <label for="floatingInputGroup1">Password</label>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-outline-primary btn-lg" type="submit"onclick="validation()">Sign in</button>
        </div>
</form>