<h1>Creat new account</h1>

<form action="/auth/signup" method="POST">

    <div class="form-group">
        <label>First name</label>
        <input type="text" name="firstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Last name</label>
        <input type="text" name="lastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>email address</label>
        <input type="email" name="email" class="form-control" />
    </div>

    <br>

    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" />
    </div>

    <div class="form-group">
        <label>pasword</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <br>

    <div class="form-group">
        <label>About Me</label>
        <input type="text" name="aboutMe" class="form-control" />
    </div>

    <br>

    <div class="form-group">
        <label>Age</label>
        <input type="number" name="age" class="form-control" />
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>

</form>