<form action="/post/comment" method="POST">
    <select id="gds-cr-one">Region</select>

    <select class="gds-cr" country-data-region-id="gds-cr-one" data-language="en">Country</select>

    <button type="submit"></button>

    <div>
        <tr>
            <th>Post</th>
            <th>Creator</th>
            <th>Created</th>
        </tr>
    </div>

</form>