<h1> Posts </h1>

<form action="post/comment/" method="POST">
<div> 
    <label>Description</label>
    <input type="text" name="text" id="title" class="form-control">
</div>

<div>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</div>

</form>